{% extends "base.html" %}
{% load static %}

{% block title %}
    Index page
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/post.css' %}" />
{% endblock %}

{% block content %}
    {% include "blog/includes/header.html" %}

    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/max.png' %}" alt="Photo"/>
            <h2>Kostya Betenya</h2>
        </header>
        <p>Software Engineer with 2+ years of experience</p>
    </section>

    <main id="latest-posts">
        <h2>My latest posts</h2>

        <ul>
            {% for post in posts %}
                {% include 'blog/includes/post.html' %}
            {% endfor %}
        </ul>
    </main>

    <footer id="about">
        <h2>About me</h2>
        <p>I really love sports and all about sports</p>
    </footer>
{% endblock %}